.main {
    background-image: url(/img/main_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.main-container {
    height: 100vh;
    padding-top: 200px;
    position: relative;
}

.main-link {
    display: inline-block;
    text-transform: uppercase;
    background-color: rgba(28, 46, 61, .4);
    padding: 18px 30px;
    border-radius: 100px;
    transition: background-color .3s;
    margin-bottom: 40px;
}

.main-link:hover {
    transition: background-color .3s;
    background-color: rgba(28, 46, 61, .8);

}

.main-title {
    font-size: 80px;
    line-height: 84px;
    max-width: 634px;
    margin-bottom: 40px;
}

.main-subtitle {
    position: relative;
    z-index: 5;
    max-width: 501px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 59px;
}

.main-btn {
    position: relative;
    background-color: #E8594E;
    padding: 33px 80px;
    border-radius: 8px;
    z-index: 100;

}

.slider-media {
    max-height: 279px;
}

.main-bottom {
    width: calc(100% - 60px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.search-form {
    position: relative;
    background-color: #fff;
    height: 120px;
    width: 68%;
    overflow: hidden;
    border-top-left-radius: 4px;
    flex-shrink: 0;
}

.search-form__field {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 56px;
    padding-right: 100px;
    color: #1C2E3D;
    font-size: 16px;
}

.search-form__button {
    width: 20px;
    height: 20px;
    background-image: url(/img/search.svg);
    position: absolute;
    top: 51px;
    right: 62px;
}

.first-slider {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0;
}

.slider-text {

    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #73AFBA;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.18182px;
    line-height: 1;
}

.slider-btn {
    position: absolute;
    z-index: 10;
    bottom: 15%;
    left: 50px;
    width: 14px;
    height: 14px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/arrow-left.svg);
}

.slider-btn--next {
    left: auto;
    right: 50px;
    background-image: url(/img/arrow-right.svg);
}